.main
  .main__header
    .main__header__group-info
      .main__header__group-info__name
        グループ名
      .main__header__group-info__member
        member:  フロント太郎
    =link_to "Edit", "#", class:"main__header__edit-btn"   
  .main__body
    .main__body__content
      .main__body__content__info
        .main__body__content__info__name
          ユーザー名
        .main__body__content__info__time
          2020/1/4
      .main__body__content__text     
        おはよう  
    .main__body__content
      .main__body__content__info
        .main__body__content__info__name
          ユーザー名
        .main__body__content__info__time
          2020/1/4
      .main__body__content__text     
        おはよう 

  .main__message-form    
    = form_for("aaa") do |f|
      .main__message-form__content
        = f.text_field :text, class: "main__message-form__content__text-box", placeholder: "type a message"
        = f.label :image, class: "main__message-form__content__image" do
          = icon("fas", "image")
          = f.file_field :image, class: "main__message-form__content__image__btn"
        = f.submit "Send", class: "main__message-form__content__send-btn"