.side-bar
  .side-bar__header
    .side-bar__header__content
      .side-bar__header__content__name
        = current_user.name
      .side-bar__header__content__icon
        = link_to "#" do
          = icon("fas", "edit", class: "side-bar__header__content__icon")
        = link_to edit_user_path(current_user) do
          = icon("fas", "cog", class: "side-bar__header__content__icon")


  .side-bar__body
    .side-bar__body__content 
      .side-bar__body__content__group-name
        グループ名
      .side-bar__body__content__text
        メッセージ